# Python-related
*.pyc
*.pyo
__pycache__/
*.pyd
*.pdb

# Virtual environment
fpa/
env/
venv/

# Streamlit cache
.streamlit/

# Logs and temporary files
*.log
*.tmp
*.bak
*.swp

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS-specific
.DS_Store
Thumbs.db
